<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
        <h2>Title: {{ post_object.title }}</h2>
        <p>{{ post_object.body }}</p>
        <p>Created: {{ post_object.created }}</p>
        <p>Author: {{ post_object.author }}</p>
    {% if  post_object.read %}
        <p>&#10004;	yes</p>

    {% else %}
        <p>&#10008; no</p>
    {% endif %}
    <span>{{ post_object.read }}</span>
    <span>{{ total_views }}</span>


</div>
</body>
</html>