<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Username: {{ profile }}</p>
<a href="{% url 'account:profiles_list'%}">
<button>People to follow</button>

</a>
<a href="{% url 'blog:create_post' %}" >
    <button>Create post</button>
</a>
{% for p in profile.following.all %}
    <li>{{ p }}</li>
{% endfor %}
<div>
    <h1>Post</h1>
    {% for post in posts %}
        <div>
            <p>Title: {{ post.title }}</p>
            <p>Author: {{ post.author }}</p>
            <p>Created: {{ post.created }}</p>
            <p>
            {{ reads }}
                {% if reads  %}
                    <p>&#10004;</p>
                 {% else %}
                    <p>&#10008;	</p>
                {% endif %}
            <a href="{{ post.get_absolute_url }}">
                <button type="submit">Detail</button>
            </a>

                    <hr>
        </div>

    {% endfor %}

</div>

</body>
</html>